@import url("./base-style.css");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/images/background.webp);
  background-repeat: repeat-y;
  background-size: cover;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.page-margin {
  margin: 0 100px;
}